@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

// colors

$Yellow-soft: #F9F09E;
$White: #fff;
$Gray: #BDBDBD;
$Gray-soft: #d9d9d985;
$Gray-strong: #7E7B7B;
$Black: #000;
$Yellow: #FEE500;


//Fonts

$font1: 'Nunito Sans', sans-serif;